doctype html
html
    head
        title= "Board"
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(type="text/javascript", src="/js/lib/require.js")
        script(type="text/javascript", src="/js/index/PC.js")
        script(type="text/javascript", src="/js/index/Hand.js")
        link(rel='stylesheet', type='text/css', href='/css/card.css', media='all')
    body
        div.board